$main_color: rgb(243,43,67);

// Types HEXCODE
$normal: #A8A77A;
$fire: #EE8130;
$water: #6390F0;
$electric: #F7D02C;
$grass: #7AC74C;
$ice: #96D9D6;
$fighting: #C22E28;
$poison: #A33EA1;
$ground: #E2BF65;
$flying: #A98FF3;
$psychic: #F95587;
$bug: #A6B91A;
$rock: #B6A136;
$ghost: #735797;
$dragon: #6F35FC;
$dark: #705746;
$steel: #B7B7CE;
$fairy: #D685AD;

@import 'Types';
@import 'TypePokemon';
@import 'DualTypes';
@import 'ImagesModal';
// @import 'ImagesModalDual';

// Pokemons-page

.pokemons-page {
  display: flex;
  align-content: center;
  justify-content: center;
}

// Nav-Bar

.nav-bar {
  width: 100%;
  top: 0;
  left: 0;
  height: 60px;
  position: fixed;
  background: $main_color
}

.nav-elements{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.nav-logo{
  margin-left: 1rem;
  li{
    list-style-type: none;
    padding: 0 0.5rem;
    a{
      text-decoration: none;
      color: white;
    }
  }
}

.nav-links{
  ul{
    margin: 0;
    padding: 0;
    display: flex;
    li{
      list-style: none;
      padding: 0 0.5rem;
      a {
        color: white;
        text-decoration: none;
        &:hover{
          font-weight: 500;
        }
      }
    }
  }
}


// Main

.main{
  margin: 5rem 5rem;
  padding: 2rem;
  border: 1px solid rgb(206, 202, 202);
}

// Pokemon Main

.pokemon-main {
  text-align: center;
}

.pokemon-spotlight {
  display: inline-grid;
  margin: 10px;
}


// Header-Button

.header-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  width: 35px;
  background: transparent;
  border: none;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.button-burger{
  width: 30px;
  height: 2px;
  background: white;
}

// Modal

.modal{
  position: fixed;
  top: 0;
  height: 100%;
  width: auto;
  margin: auto;
  background: white;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  z-index: 2;
  overflow: auto;
}

.modal-hidden{
  display: none;
}

.modal-pokemon-name {
  background: $main_color;
  height: 4rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 2.3em;
}

.modal-img-stats {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1.5em 0;
  padding: 10px;
  .modal-stats{
    // margin-left: 0.3em;
    .modal-stats-name{
      font-weight: 500;
      font-size: 1em;
    }
    .modal-stats-bar {
      display: flex;
      color: white;
      .modal-stats-back {
        display: flex;
        background: rgb(206, 202, 202);
        z-index: 2;
        width: 120%;
        height: inherit;
        color: rgb(206, 202, 202);
      }
    }
    ul{
      list-style: none;
      margin: 0;
      padding: 2px;
      width: 10rem;
    }
  }
}

.modal-types {
  margin: auto;
  display: flex;
}

.modal-characteristics-title{
  background: $main_color;
  color: white;
  margin: 0 10px;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.2rem;
}

.modal-characteristics {
  margin: 0 1rem;
  padding: 1rem;
  // display: flex;
  // flex-direction: column;
  .modal-egg-group {
    margin: 0.5rem 0;
    font-weight: bold;
  }
  .modal-egg-name {
    list-style-type: none;
  }
  .modal-genus {
    margin: 0.5rem 0;
    padding: 0;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .modal-flavor {
    margin: 0.5rem 0;
    padding: 0;
    width: 500px;
  }
  .modal-abilities{
    margin: 0.5rem 0;
    font-weight: bold;
  }
  .modal-ability-hidden {
    font-size: 0.5em;
  }
}

.modal-moves-title{
  background: $main_color;
  margin: 0 10px;
  color: white;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.2rem;
  
}

.modal-moves{
  margin: 1rem;
  padding: 1rem;
}

//Back-Drop

.back-drop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  overflow: auto;
  z-index: 1;
}

// Spacer

.spacer {
  flex: 1;
}
