// Modal-Img

.modal-img{
  display: block;
  margin: auto;
  padding: 1rem;
  border-top: 1px solid rgb(168, 164, 164);
  border-left: 1px solid rgb(168, 164, 164);
  border-bottom: 1px solid rgb(121, 118, 118);
  border-right: 1px solid rgb(121, 118, 118);
  box-shadow: 1px 1px rgb(121, 118, 118);
}

// .modal-img-normal {
//   @extend .modal-img;
//   box-shadow: 2px 2px $normal;
//   border-bottom: 1px solid $normal;
//   border-right: 1px solid $normal;
// }
// .modal-img-fire {
//   @extend .modal-img;
//   box-shadow: 2px 2px $fire;
//   border-bottom: 1px solid $fire;
//   border-right: 1px solid $fire;
// }
// .modal-img-water {
//   @extend .modal-img;
//   box-shadow: 2px 2px $water;
//   border-bottom: 1px solid $water;
//   border-right: 1px solid $water;
// }
// .modal-img-electric {
//   @extend .modal-img;
//   box-shadow: 2px 2px $electric;
//   border-bottom: 1px solid $electric;
//   border-right: 1px solid $electric;
// }
// .modal-img-grass {
//   @extend .modal-img;
//   box-shadow: 2px 2px $grass;
//   border-bottom: 1px solid $grass;
//   border-right: 1px solid $grass;
// }
// .modal-img-ice {
//   @extend .modal-img;
//   box-shadow: 2px 2px $ice;
//   border-bottom: 1px solid $ice;
//   border-right: 1px solid $ice;
// }
// .modal-img-fighting {
//   @extend .modal-img;
//   box-shadow: 2px 2px $fighting;
//   border-bottom: 1px solid $fighting;
//   border-right: 1px solid $fighting;
// }
// .modal-img-poison {
//   @extend .modal-img;
//   box-shadow: 2px 2px $poison;
//   border-bottom: 1px solid $poison;
//   border-right: 1px solid $poison;
// }
// .modal-img-ground {
//   @extend .modal-img;
//   box-shadow: 2px 2px $ground;
//   border-bottom: 1px solid $ground;
//   border-right: 1px solid $ground;
// }
// .modal-img-flying {
//   @extend .modal-img;
//   box-shadow: 2px 2px $flying;
//   border-bottom: 1px solid $flying;
//   border-right: 1px solid $flying;
// }
// .modal-img-psychic {
//   @extend .modal-img;
//   box-shadow: 2px 2px $psychic;
//   border-bottom: 1px solid $psychic;
//   border-right: 1px solid $psychic;
// }
// .modal-img-bug {
//   @extend .modal-img;
//   box-shadow: 2px 2px $bug;
//   border-bottom: 1px solid $bug;
//   border-right: 1px solid $bug;
// }
// .modal-img-rock {
//   @extend .modal-img;
//   box-shadow: 2px 2px $rock;
//   border-bottom: 1px solid $rock;
//   border-right: 1px solid $rock;
// }
// .modal-img-ghost {
//   @extend .modal-img;
//   box-shadow: 2px 2px $ghost;
//   border-bottom: 1px solid $ghost;
//   border-right: 1px solid $ghost;
// }
// .modal-img-dragon {
//   @extend .modal-img;
//   box-shadow: 2px 2px $dragon;
//   border-bottom: 1px solid $dragon;
//   border-right: 1px solid $dragon;
// }
// .modal-img-dark {
//   @extend .modal-img;
//   box-shadow: 2px 2px $dark;
//   border-bottom: 1px solid $dark;
//   border-right: 1px solid $dark;
// }
// .modal-img-steel {
//   @extend .modal-img;
//   box-shadow: 2px 2px $steel;
//   border-bottom: 1px solid $steel;
//   border-right: 1px solid $steel;
// }
// .modal-img-fairy {
//   @extend .modal-img;
//   box-shadow: 2px 2px $fairy;
//   border-bottom: 1px solid $fairy;
//   border-right: 1px solid $fairy;
// }