// Type-Pokemon

.normal-pokemon{
  background: $normal;
  padding: 0 5%;
}
.fire-pokemon{
  background: $fire;
  padding: 0 5%;
}
.water-pokemon{
  background: $water;
  padding: 0 5%;
}
.electric-pokemon{
  background: $electric;
  padding: 0 5%;
}
.grass-pokemon{
  background: $grass;
  padding: 0 5%;
}
.ice-pokemon{
  background: $ice;
  padding: 0 5%;
}
.fighting-pokemon{
  background: $fighting;
  padding: 0 5%;
}
.poison-pokemon{
  background: $poison;
  padding: 0 5%;
}
.ground-pokemon{
  background: $ground;
  padding: 0 5%;
}
.flying-pokemon{
  background: $flying;
  padding: 0 5%;
}
.psychic-pokemon{
  background: $psychic;
  padding: 0 5%;
}
.bug-pokemon{
  background: $bug;
  padding: 0 5%;
}
.rock-pokemon{
  background: $rock;
  padding: 0 5%;
}
.ghost-pokemon{
  background: $ghost;
  padding: 0 5%;
}
.dragon-pokemon{
  background: $dragon;
  padding: 0 5%;
}
.dark-pokemon{
  background: $dark;
  padding: 0 5%;
}
.steel-pokemon{
  background: $steel;
  padding: 0 5%;
}
.fairy-pokemon{
  background: $fairy;
  padding: 0 5%;
}