$main_color: rgb(243,43,67);
// Nav-Bar

.nav-bar {
  width: 100%;
  top: 0;
  left: 0;
  height: 60px;
  position: fixed;
  background: $main_color
}

.nav-elements{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.nav-logo{
  margin-left: 1rem;
  li{
    list-style-type: none;
    padding: 0 0.5rem;
    a{
      text-decoration: none;
      color: white;
    }
  }
}

.nav-links{
  ul{
    margin: 0;
    padding: 0;
    display: flex;
    li{
      list-style: none;
      padding: 0 0.5rem;
      a {
        color: white;
        text-decoration: none;
        &:hover{
          font-weight: 500;
        }
      }
    }
  }
}


// Main

.main{
  margin: 5rem 5rem;
  padding: 2rem;
  border: 1px solid rgb(206, 202, 202);
}

// Pokemon Main

.pokemon-main {
  text-align: center;
}

.pokemon-spotlight {
  display: inline-grid;
  margin: 10px;
}


// Header-Button

.header-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  width: 35px;
  background: transparent;
  border: none;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.button-burger{
  width: 30px;
  height: 2px;
  background: white;
}

// Modal

.modal{
  position: fixed;
  left: 35%;
  top: 0;
  height: 100%;
  width: auto;
  margin: 0;
  background: white;
  border: 1px solid black;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  z-index: 2;
  overflow: auto;
}

.modal-hidden{
  display: none;
}

.modal-pokemon-name {
  // width: 100%;
  background: $main_color;
  height: 4rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 2.3em;
}

.modal-img-stats {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  .modal-img{
    display: block;
    margin: auto;
    padding: 1rem;
    border: 1px solid rgb(206, 202, 202);
    box-shadow: 2.5px 2.5px rgb(107, 104, 104);
  }
  .modal-stats{
    margin-left: 0.3em;
    .modal-stats-name{
      font-weight: 500;
      font-size: 1em;
    }
    .modal-stats-bar {
      display: flex;
      color: white;
      .modal-stats-front {
        display: relative;
        background: rgba(0, 0, 0, 0.5);
        z-index: 3;
        padding-left: 20px;
      }
      .modal-stats-back {
        display: flex;
        background: rgb(206, 202, 202);
        z-index: 2;
        width: 120%;
        height: 100%;
        color: rgb(206, 202, 202);
      }
    }
    ul{
      list-style: none;
      margin: 0;
      padding: 2px;
      width: 10rem;
    }
  }
}

.modal-types {
  margin: 0.5em auto;
  display: flex;
}

.modal-characteristics{
  background: $main_color;
  color: white;
  margin: 0 10px;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.2rem;
}

.modal-abilities{
  padding: 1rem;
}

.modal-moves-title{
  background: $main_color;
  margin: 0 10px;
  color: white;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.2rem;
  
}

.modal-moves{
  margin: 1rem;
  padding: 1rem;
}

//Back-Drop

.back-drop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  overflow: auto;
  z-index: 1;
}

// Spacer

.spacer {
  flex: 1;
}

// Types

.normal{
  background: transparent;
  width: 4rem;
  height: 1.5rem;
  border: 2.5px solid #EE8130;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}
.fire{
  background: transparent;
  width: 4rem;
  height: 1.5rem;
  border: 2.5px solid #EE8130;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}
.water{
  background: transparent;
  width: 4rem;
  height: 1.5rem;
  border: 2.5px solid #6390F0;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}
.electric{
  background: transparent;
  width: 4rem;
  height: 1.5rem;
  border: 2.5px solid #F7D02C;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}
.grass{
  background: transparent;
  width: 4rem;
  height: 1.5rem;
  border: 2.5px solid #7AC74C;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}
.ice{
  background: transparent;
  width: 4rem;
  height: 1.5rem;
  border: 2.5px solid #96D9D6;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}
.fighting{
  background: transparent;
  width: 4rem;
  height: 1.5rem;
  border: 2.5px solid #C22E28;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}
.poison{
  background: transparent;
  width: 4rem;
  height: 1.5rem;
  border: 2.5px solid #A33EA1;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}
.ground{
  background: transparent;
  width: 4rem;
  height: 1.5rem;
  border: 2.5px solid #E2BF65;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}
.flying{
  background: transparent;
  width: 4rem;
  height: 1.5rem;
  border: 2.5px solid #A98FF3;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}
.psychic{
  background: transparent;
  width: 4rem;
  height: 1.5rem;
  border: 2.5px solid #F95587;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}
.bug{
  background: transparent;
  width: 4rem;
  height: 1.5rem;
  border: 2.5px solid #A6B91A;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}
.rock{
  background: transparent;
  width: 4rem;
  height: 1.5rem;
  border: 2.5px solid #B6A136;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}
.ghost{
  background: transparent;
  width: 4rem;
  height: 1.5rem;
  border: 2.5px solid #735797;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}
.dragon{
  background: transparent;
  width: 4rem;
  height: 1.5rem;
  border: 2.5px solid #6F35FC;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}
.dark{
  background: transparent;
  width: 4rem;
  height: 1.5rem;
  border: 2.5px solid #705746;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}
.steel{
  background: transparent;
  width: 4rem;
  height: 1.5rem;
  border: 2.5px solid #B7B7CE;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}
.fairy{
  background: transparent;
  width: 4rem;
  height: 1.5rem;
  border: 2.5px solid #D685AD;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}

// Type-Pokemon

// .water-pokemon{
//   background: #6390F0;
//   color: white;
// }